/* Video Background
---------------------------------------------------- */
.video-bg {
    position: relative;
}
video {
  width: 100%;
  min-height: 100%
}
.content {
  position: absolute;
  bottom: 8px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 92%;
  padding: 20px 4%;
}
@media (max-width: 550px) {
    .content {
        position: relative;
        width: 92%;
        padding: 2% 4%;
        background: rgba(0, 0, 0, 0.8);
    }
}